@font-face {
  font-family: "hammersmith";
  src: url(/font/Hammersmith_One/HammersmithOne-Regular.ttf);
}

body {
  background-color: rgba(220, 212, 197, 1);
  font-family: hammersmith;
}

h1 {
  text-align: center;
}